html,body  
{  
overflow-x:hidden;  
} 
header{
padding:10px;
display:flex;
justify-content: space-between;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    max-width:1440px;
    margin:auto;
    
}

.small-screen-nav{
    display:none;
}

.large-screen-nav{
    display: flex;
    justify-content: flex-end;
}

nav a
{
    text-decoration: none;
    color: #050b0b;
    margin-right: 15px;
}

nav a:hover

{
    color:#246db1
}

ul{
    color:white;
    margin:auto;
    
}

li{
    display:inline;
    
    color:white;
}

.top{
    width:100%;
    display:flex;
    justify-content: space-around;
    padding:20px;
    margin:auto;
}

.top img{
    width:47%;
    /* height:400px; */
}

.haut{
    width:45%;
    text-align:center;
    display: inline-block;
    margin:auto;
}

.info{
    background-color: #246db1;
    width:100%;
    /* height:600px; */
    position: relative;
    z-index: 0;
}

.info .container{
    z-index: 1;
} 

.mask{
    background: #e53b51;
    width: 100%;
    position: absolute;
    top: 0;
    height: 25%;
    z-index: -1;
}

.container{
    display:flex;
    justify-content: space-between;
    /* padding-bottom:500px; */
    /* margin:auto; */
    /* margin-top:150px; */
    width:100%;
    /* padding:20px; */
}

.box{
    /*float:left;*/
    width: 20%;
    height: 150px;
    margin: 23px;
    background-color:#ffffff;
    font-size: 10px;
    text-align: center;
    padding: 35px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    margin-top:70px;
    font-size:20px;
}

.identif{
    font-weight:bold;
}

.fa{
    color:#246db1;
    font-size:50px;
}

.contacter{
    
    display:flex;
    justify-content: space-between;
    color:white;
    margin:auto;
    width:100%;
    height:300px;
}

.service{
    width:40%;
    padding-left:30px;
}

.formulaire{
    width:40%;
    /* padding-top:40px; */
}

/* label{
    padding-left:20px;
} */

.border{
    border: none;
    border-bottom: 1px solid white;
    background-color: #246db1;
    overflow:hidden;
    text-align: center;
    width:90%;
    font-style: italic;
}

.envoi{
    width:91%;
}
 
.icons{
    font-size:50px;
    
    margin-right: 20%;
}

.approche{
    width:100%;
    height:700px;
    background-image:url("../img/mon.jpg");
}

.contain img{
    width:40%;
    height:150px;
    padding-top: 250px;
    float:right;
   
 }   


.contain{
    padding:20px;
    margin:auto;
    color:white;
    font-size:25px;
}

.contain h1{
    color:rgb(245, 229, 10);
}

.contain li{
    padding-left:10px;
    
}

.contain p{
    padding-left:10px;
}

footer{
    background-color: #050b0b;
    color:white;
    display:flex;
    flex-direction: column;
    text-align: center;
}


@media screen and (min-width: 768px) and (max-width:992px){


    .large-screen-nav{
        display:none;
    }

    .copy{
        display:none;
    }

    .small-screen-nav{
        display: inline-block;
        
    }

    .logo{
        width:60px;
        height:50px;
        
    }
    .horizontal{
        border: none;
        border-top: 2px solid #333;
        color: #333;
        overflow: visible;
        text-align: center;
        width:20px;
        padding-top:5px;
    } 

    .top{
        width:100%;
        flex-wrap:wrap;
    }
 
    .top img{
        width:45%;
    }

    .haut{
        width:45%;
    }

    .contacter{
        width:100%;

    }

    .services{
        width:50%;
    }

    .formulaire{
        width:47%;
    }

    .box{
        flex:30%;

    }
    .container{
        flex-wrap:wrap;
    }

    .contain img{
        width:80%;
        height:150px;
        padding-left: 10px;
        float:left;
    }

    .first_line{
        border:none;
        border-top:2px solid rgba(110, 104, 104, 0.781);
        overflow:visible;
        width:100%;
        padding-top:10px;
    }

    .second_line{
        border:none;
        border-top:2px solid rgba(110, 104, 104, 0.781);
        overflow:visible;
        width:5%;
        padding-top:10px;
        text-align:center;
        margin-left:50%;
     }

    .third_line{
        border:none;
        border-top:2px solid rgba(110, 104, 104, 0.781);
        overflow:visible;
        width:100%;
        margin-top:30px;
    }

    .fourth_line{
        border:none;
        border-top:3px solid rgba(110, 104, 104, 0.781);
        overflow:visible;
        width:100%;
        padding-top:0px;
     }

}







/* 0 - 768 */
@media screen and (max-width: 767px) {
    /* .container {
        background-color: #246db1;
    } */
    .large-screen-nav{
        display:none;
    }

    .small-screen-nav{
        display: inline-block;
        
    }
    
    body{
        margin:auto;
    }

    .logo{
        width:80px;
        height:50px;
        
    }

    .horizontal{
        border: none;
        border-top: 2px solid #333;
        /* color: #333; */
        overflow: visible;
        text-align: center;
        width:10px;
        padding-bottom:05px;
        /* background-color:red; */
    }
    
    .top{
        width:90%;
        flex-wrap: wrap;
    }

    .haut{
        width:100%;
        
    }
    .top img{
        width:100%;
        
    }
  
    .box{
        flex:30%;

    }
    .container{
        flex:100%;
        flex-wrap:wrap;
    }
    
    .mask{
        height:10%;
    }

    .contacter{
        flex:100%;
        flex-wrap:wrap;
        height:600px;
    }
    .service{
        flex:100%;
        flex-wrap:wrap;
    }

    .formulaire{
        flex:100%;
        flex-wrap:wrap;
        padding-left:30px;
    }

    .contain img{
        width:100%;
        padding:0;
    }

}
